<main>
  <h3>{{cube.name}}</h3>
  <img class="cube" src={{cube.imageUrl}} />
  <div class="details">
    <p><span>Description:</span>{{cube.description}}</p>
    <p><span>Difficulty level:</span> {{cube.difficulty}}</p>
    <a class="btn" href="/">Back</a>
    {{#if isLoggedIn}}
    <a class="btn" href="/attach/accessory/{{cube._id}}">Attach Accessories</a>
    <a class="btn" href="/edit/{{cube._id}}">Edit</a>
    <a class="btn" href="/delete/{{cube._id}}">Delete</a>
    {{/if}}
  </div>
  <h2>Accessories</h2>

  <div class="containercube">
    {{#each cube.accessories}}
    <div class="cube">
      <img class="cube" src={{this.imageUrl}} alt="stickerName" />
      <h3 class="name">{{this.name}}</h3>
      <p>{{this.description}}</p>
    </div>
    {{else}}
    <h4>This cube has no accessories yet</h4>
    {{/each}}
  </div>
</main>